<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Results</h1>
      <ul>
        <% movieList.forEach(function (movie) { %>
        <li><%= movie.Title %></li>
        <% })%>
      </ul>
    </div>
  </body>
</html>
