<!doctype html>
<html>
  <head>
    <title>OMDB Homepage</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Find a movie by title</h1>
      <form action="/search">
        <input type="text" name="searchTerm" placeholder="Movie Title" class="textField">
        <input type="submit" value="Find Movie" class="searchButton">
      </form>
    </div>
  </body>
</html>
